<div class="footer" id="footer">
  <div class="footer-container">
    <div class="liberian-seal"><%= image_tag('roi-logo.png', :alt => 'Liberian Seal') %></div>
    <div id="footer-nav">
      <ul>
        <li><%= link_to _("Contact {{site_name}}", :site_name => site_name), help_contact_path %></li>
        <li><a href="https://facebook.com/foiliberia"><%= _("Follow us on Facebook") %></a></li>
        <% unless AlaveteliConfiguration::twitter_username.blank? %>
          <li><a href="https://twitter.com/<%= AlaveteliConfiguration::twitter_username %>"><%= _("Follow us on Twitter") %></a></li>
        <% end %>
        <li><a href="https://linkedin.com/in/foiliberia"><%= _("Follow us on LinkedIn") %></a></li>

        <%= render :partial => 'general/responsive_credits' %>
      </ul>
    </div>
    <div class="footer__credits">
      <ul>
        <li class="credits__iic-logo"><a href="http://www.iic.gov.lr/">
          <%= image_tag('IIC-logo.png', :alt => 'Independent Information Commission') %></a></li>
      </ul>
    </div>
  </div>
</div>
