<div class="footer" id="footer" role="contentinfo">
  <div class="footer-container">
    <div class="footer__content">
      <div class="footer__about">
        <h2>About InfoLib</h2>
        <p>Freedom of Information (FOI) is a fundamental human right for all persons irrespective of gender, religion or race that is protected by national.</p>
      </div>

      <div class="footer__more-links">
        <h2>Find out more</h2>
        <ul>
          <li><%= link_to 'FOI Awareness', foi_awareness_path %></li>
          <li><%= link_to 'File a Complaint', the_iic_path %></li>
          <li><%= link_to 'Partners', partners_path %></li>
        </ul>
      </div>

      <div class="footer__logos">
        <div class="liberian-seal"><%= image_tag('roi-logo.png', :alt => 'Liberian Seal') %></div>
        <div class="iic-logo"><a href="http://www.iic.gov.lr/">
              <%= image_tag('IIC-logo.png', :alt => 'Independent Information Commission') %></a>
        </div>
      </div>
    </div>
    <div class="footer__content">
      <div class="footer__credits">
        <p>
          An <a href="http://ilabliberia.org/">iLab Liberia</a> project, in
          conjunction with <a href="https://mysociety.org">mySociety</a>,
          powered by <a href="http://www.alaveteli.org">Alaveteli</a>
        </p>
      </div>
      <div class="final__social-links">
        <ul>
          <% unless AlaveteliConfiguration::twitter_username.blank? %>
          <li>
            <a href="https://twitter.com/<%= AlaveteliConfiguration::twitter_username %>" class="social-link social-link--twitter" onclick="<%= track_analytics_event(AnalyticsEvent::Category::OUTBOUND, AnalyticsEvent::Action::TWITTER_EXIT, :label => "Footer link")%>">@<%= AlaveteliConfiguration::twitter_username %></a>
          </li>
          <% end %>
          <% unless AlaveteliConfiguration::facebook_username.blank? %>
          <li>
            <a href="https://facebook.com/<%= AlaveteliConfiguration::facebook_username %>" class="social-link social-link--facebook" onclick="<%= track_analytics_event(AnalyticsEvent::Category::OUTBOUND, AnalyticsEvent::Action::FACEBOOK_EXIT, :label => "Footer link")%>">/<%= AlaveteliConfiguration::facebook_username %></a>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
