<% @title = "Partners" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
 <h1><%=@title %></h1>

<h2>LIBERIA FREEDOM OF INFORMATION COALITION (LFIC)</h2>
<p>The Liberia Freedom of Information Coalition (LFIC) was established by nine civil society organizations working to promote transparency and accountability, good governance and participatory democracy, human rights and rule of law, freedom of expression and media development, Peace Building and Conflict Management in 2013, as a successor to the Liberia Freedom of Expression Coalition. The LFIC through collaborative actions with the media drafted and campaigned for the passage of the FOI law, thus establishing the FOI regime in Liberia since 2010.</p>

<h3>PURPOSE/GOAL OF THE COALITION</h3>
<p>The purpose/ goal of the LFIC is to empower or reinforce the capacities of civil societies in Liberia and other partners involved with FOI/Right to information activities to promote citizens access to information through training and creating the necessary awareness and policy advocacy for the full implementation of the FOI regime in Liberia.</p>

<h3>MISSION</h3>
<p>LFIC’s mission is to strengthen the advocacy and operational capacities of civil societies to engage in policy engagement and the promotion of open governance principles and values in Liberia, and to do research on governance issues that will strengthen its advocacy roles.</p>

<h3>VISION</h3>
<p>The vision of the LFIC is to see empowered CSOs that will serve as strategic partners for the promotion of an effective FOI regime, and citizens are fully participating in the governance of their country, which will eventually reduce corruption/ misuse of state resources.</p>

<h3>OUR FUTURE AMBITION</h3>
<p>LFIC is positioning itself to become a civil society knowledge sharing and access to information hub and a credible center of policy advocacy and developing synergies with both national and international partners for the successful implementation of the FOI regime in Liberia.</p>

<h3>GOVERNING STRUCCTURE</h3>
<p>Currently, the LFIC has a Board of the nine institutional members. Its functions include developing policies that will establish an institutional framework that will enhance the capacity of the LFIC to successfully implement its programs. Full membership is institutional based and a key requirement is that these institutions should also practice LFIC focus areas within their own operational framework.</p>

<h3>SECRETARIAT</h3>
<p>The Secretariat runs the day-to-day activities of the LFIC. It serves as a coordinating platform for driving the various programming activities that are to be pursued in furtherance of the need to ensure the effective implantation of the FOI Law. It has a Program Coordinator, Finance and Administrative Officer, and a Program Assistant.</p>

<h3>LFIC Program activities:</h3>

<ul>
    <li>FOI awareness in eight of the fifteen counties of Liberia from May 2013 to December 2014.</li>
    <li>Training of Trainers workshops on FOI with relevant CSOs and CBOs in six counties (Montserrado, Grand Bassa, Cape Mount, Nimba, Bong and Gbarpolu) from June 2013 to May 2015</li>
    <li>Training of ten Monitors and the Establishment of Hotline facility for tracking and monitoring FOI request at various public and private bodies holding public information, launched and implemented in 2013 with funding from the Carter Center.</li>
    <li>Joint community awareness for civil societies, including youth, women, religious, and students groupings and major FOI stakeholders’ consultations in 2013.</li>
    <li>Printing and distribution of FOI education, information and communication materials, radio talk shows and jingles in project counties.</li>
    <li>Research on Natural Resource conflicts in the concession areas of Cape Mount (SIME DARBY) and Sinoe (GOLDEN VELOREUM LIBERIA) 2013 and August 2015.</li>
</ul>

<h3>Freedom of Information Partners in Liberia.</h3>


<!-- This needs to be filled with the logos and the links to the different organisations but I'm not sure how to do this; Jen -->
<!-- Here's an example - the image files go in assets/images -->
<%= link_to image_tag('ilab.png'), "http://ilabliberia.org/" %>
<%= link_to image_tag('alab.png'), "http://accountabilitylab.org/" %>
<%= link_to image_tag('cartercenter.png'), "http://www.cartercenter.org/countries/liberia.html" %>
<%= link_to image_tag('cemesp.png'), "http://www.cemespliberia.org/" %>
<%= link_to image_tag('cental.png'), "http://www.cental.org/" %>
<%= image_tag('lficlogo.png') %>
<%= link_to image_tag('LIWOMAC.png'), "http://liwomac.org/" %>
<%= link_to image_tag('LMC-logo.png'), "https://www.facebook.com/Liberia-Media-Center-497490793629522/timeline/" %>
<%= link_to image_tag('lmi_logo.png'), "http://www.lmdilr.org/" %>
<%= link_to image_tag('micat.png'), "http://www.micatliberia.com/" %>
<%= link_to image_tag('pul_logo.png'), "http://www.pul.org.lr/" %>
<%= link_to image_tag('Sfcg-logo.png'), "https://www.sfcg.org/liberia/" %>


<div id="hash_link_padding"></div>


</div>